{% extends 'shop/basic.html' %}
{% load static %}
{% load splitTag %}
{% block title %} Search Results - buyCart {% endblock %}
{%block home%}active{%endblock home%}
{% block css %}
<style>
  .carousel-indicators button {
    background: var(--primary-gradient)!important;
    border: 2px solid var(--border-color) !important;
    width: 5px !important;
    height: 5px !important;
    border-radius: 80% !important;
    margin: 0 5px !important;
  }
  div.carousel-indicators{
    margin-bottom:0 !important;
    transform: translateY(20px) !important;
  }
  .carousel-indicators button .active {
    background: var(--primary-gradient) !important;
    border-color: var(--border-color) !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 2%;
    background: var(--primary-gradient);
    opacity: 0.7;
    transition: opacity 0.2s;
    z-index: 10;
    top: auto;
    bottom: auto;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }

  .carousel-control-prev {
    transform: translateX(-45px);
    height: 380px !important;
    width: 50px !important;
  }

  .carousel-control-next {
    transform: translateX(45px);
    height: 380px !important;
    width: 50px !important;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border:1px solid var(--accent-blue);
    width: 40px;
    height: 40px;
  }

  .carousel-container {
    margin: 20px 135px;
    position: relative;
  }

  /* Hide extra cards that wrap to next line within a carousel slide */
  .carousel-item > .row {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  /* Responsive carousel container margins */
  @media (max-width: 1399px) {
    .carousel-container {
      margin: 20px 80px;
    }
    .carousel-control-prev {
      transform: translateX(-35px);
    }
    .carousel-control-next {
      transform: translateX(35px);
    }
  }

  @media (max-width: 1199px) {
    .carousel-container {
      margin: 20px 40px;
    }
    .carousel-control-prev {
      transform: translateX(-20px);
    }
    .carousel-control-next {
      transform: translateX(20px);
    }
  }

  @media (max-width: 991px) {
    .carousel-container {
      margin: 20px 20px;
    }
    .carousel-control-prev {
      transform: translateX(-10px);
    }
    .carousel-control-next {
      transform: translateX(10px);
    }
  }

  @media (max-width: 768px) {
    .carousel-control-prev {
      left: 10px;
      transform: none;
    }

    .carousel-control-next {
      right: 10px;
      transform: none;
    }

    .carousel-container {
      margin: 20px 0;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 30px;
      height: 30px;
    }
  }

  .card {
    height: 100% !important;
  }

  .card-img-top {
    height: 285px;
    object-fit: cover;
  }

  .carousel {
    margin: 20px 0px;
  }
  .card{
    background: var(--primary-gradient);
    border-radius: 20px !important;
    border: 1px solid var(--accent-blue) !important;
  }
  .img{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
</style>
{% endblock %}

{% block body %}
<div class="carousel-container" style="margin-top: 70px!important;">
  <a class="btn btn-primary home-btn mb-3" href="/shop/" style="text-decoration: none">&#x2190;Home</a>
  {% for products, range, nSlides in allProds %}
  <h3 class="ps-3">{{ products.0.category }}</h3>
    <div id="demo{{forloop.counter}}" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
        <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"
          aria-label="Slide {{i|add:1}}"></button>
        {% endfor %}
      </div>

      <!-- Slideshow starts from here -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-3">
            {% for i in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="card align-items-center h-100 d-flex flex-column">
                <img src="{{ i.main_image.url }}" class="card-img-top img" alt="products {{forloop.counter|add:1}}">
                <div class="card-body px-3 py-3 d-flex flex-column w-100">
                  <h5 class="card-title text-dark-emphasis" id="namepr{{i.id}}">{{i.product_name|slice:"0:23"}}...</h5>
                  <p class="card-text text-dark-emphasis">{{i.desc|striptags|slice:"0:55"}}...</p>
                  {% if i.discount == 0 %}
                    <h6>
                      <b class="text-success"><span id="pricepr{{i.id}}">{{i.finalPrice}}</span> ₹</b>
                      {% if i.prodRating %}
                      <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐ {{ i.prodRating }}/5</span>
                      {% else %}
                    <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐Not Rated Yet</span>
                      {% endif %}<br>
                    </h6>
                  {% else %}
                    <h6>
                      <b class="text-danger text-decoration-line-through"><span>{{i.price}}</span> ₹</b>
                      <b class="text-secondary">(-{{i.discount}} %)</b>
                      {% if i.prodRating %}
                      <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐ {{ i.prodRating }}/5</span>
                      {% else %}
                    <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐Not Rated Yet</span>
                      {% endif %}<br>
                      <b class="text-success"><span id="pricepr{{i.id}}">{{i.finalPrice}}</span> ₹</b>
                    </h6>
                  {% endif %}
                  {% if i.available_sizes %}
                  <div class="mb-2">
                    <p class="fw-semibold mb-2">Available Sizes</p>

                    <div class="d-flex flex-wrap gap-2">
                      {% for size in i.available_sizes|cut:" "|split:"," %}
                      {% if forloop.first%}
                      <input type="radio" class="btn-check" name="selected_size{{i.id}}" id="size{{i.id}}{{ forloop.counter }}"
                        value="{{ size }}" autocomplete="off" checked>
                      {% else %}
                      <input type="radio" class="btn-check" name="selected_size{{i.id}}" id="size{{i.id}}{{ forloop.counter }}"
                        value="{{ size }}" autocomplete="off">
                      {% endif %}
                      <label class="btn btn-outline-primary rounded-pill px-3 py-1" for="size{{i.id}}{{ forloop.counter }}">
                        {{ size }}
                      </label>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  <div class="aqbtn d-flex justify-content-evenly mt-auto">
                    {% if request.user.is_authenticated %}
                    <span id="divpr{{i.id}}" class="divpr">
                      <button id="pr{{i.id}}" class="btn btn-primary cart">Add to cart</button>
                    </span>
                    {% endif %}
                    <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary">Quick
                        View</button></a>
                  </div>
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:4 and not forloop.last %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-3">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Carousel controls - moved inside the loop -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Mobile Carousel -->
    <div id="demoMobile{{forloop.counter}}" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for i in products %}
        <button type="button" data-bs-target="#demoMobile{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{forloop.counter}}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for i in products %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row g-3">
            <div class="col-12 px-2 px-md-3">
              <div class="card align-items-center h-100 d-flex flex-column">
                <img src="{{ i.main_image.url }}" class="card-img-top img" alt="products {{forloop.counter|add:1}}">
                <div class="card-body px-3 py-3 d-flex flex-column w-100">
                  <h5 class="card-title text-dark-emphasis" id="namepr{{i.id}}_mobile">{{i.product_name|slice:"0:23"}}...</h5>
                  <p class="card-text text-dark-emphasis">{{i.desc|striptags|slice:"0:55"}}...</p>
                  {% if i.discount == 0 %}
                    <h6>
                      <b class="text-success"><span id="pricepr{{i.id}}_mobile">{{i.finalPrice}}</span> ₹</b>
                      {% if i.prodRating %}
                      <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐ {{ i.prodRating }}/5</span>
                      {% else %}
                    <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐Not Rated Yet</span>
                      {% endif %}<br>
                    </h6>
                  {% else %}
                    <h6>
                      <b class="text-danger text-decoration-line-through"><span>{{i.price}}</span> ₹</b>
                      <b class="text-secondary">(-{{i.discount}} %)</b>
                      {% if i.prodRating %}
                      <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐ {{ i.prodRating }}/5</span>
                      {% else %}
                    <span class="badge bg-warning text-dark fs-6 mb-1" style="width:fit-content;"> ⭐Not Rated Yet</span>
                      {% endif %}<br>
                      <b class="text-success"><span id="pricepr{{i.id}}_mobile">{{i.finalPrice}}</span> ₹</b>
                    </h6>
                  {% endif %}
                  {% if i.available_sizes %}
                  <div class="mb-2">
                    <p class="fw-semibold mb-2">Available Sizes</p>

                    <div class="d-flex flex-wrap gap-2">
                      {% for size in i.available_sizes|cut:" "|split:"," %}
                      {% if forloop.first%}
                      <input type="radio" class="btn-check" name="selected_size{{i.id}}_mobile" id="size{{i.id}}_mobile{{ forloop.counter }}"
                        value="{{ size }}" autocomplete="off" checked>
                      {% else %}
                      <input type="radio" class="btn-check" name="selected_size{{i.id}}_mobile" id="size{{i.id}}_mobile{{ forloop.counter }}"
                        value="{{ size }}" autocomplete="off">
                      {% endif %}
                      <label class="btn btn-outline-primary rounded-pill px-3 py-1" for="size{{i.id}}_mobile{{ forloop.counter }}">
                        {{ size }}
                      </label>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  <div class="aqbtn d-flex justify-content-evenly mt-auto">
                    {% if request.user.is_authenticated %}
                    <span id="divpr{{i.id}}_mobile" class="divpr">
                      <button id="pr{{i.id}}_mobile" class="btn btn-primary cart">Add to cart</button>
                    </span>
                    {% endif %}
                    <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}_mobile" class="btn btn-primary">Quick
                        View</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    {% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'shop/js/cart.js'%}"></script>
{% endblock %}